<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="mb-3">
                <input type="text" class="form-control" #inpt1 placeholder="enter first number">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" #inpt2 placeholder="enter second number">
            </div>
            <div class="b-3">
                <button class="btn btn-info" (click)="addNumbers(inpt1,inpt2)">Add</button>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    output={{result}}
</div>
